server:
  port: 8761

spring:
  security:
    user:
      name: admin
      password: admin

eureka:
  instance:
    # 'localhost' 대신 Docker Compose의 서비스 이름인 'eureka-server'를 사용
    hostname: eureka-server
  client:
    register-with-eureka: false
    fetch-registry: false
    # 자기 자신에게 접속할 때도 인증 정보를 포함한 전체 주소 사용
    service-url:
      # 'localhost' 대신 'eureka-server'를 사용
      defaultZone: http://admin:admin@eureka-server:8761/eureka/